
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 5px;
  border: 1px solid #fff;

  &:hover {
    background-color: #858585;
  }
}
