$bg-form-color: $bg-base; // Background
$color-text-form: $color-base; // Cor do texto
$color-focus-default: $color-default; // Cor destaque

// Espaçamento
$input-space-y: 12px;
$input-space-x: 13px;

%input {
  background: none;
  border: 0;
  color: $color-text-form;
  font-size: 1em;
  transition: all 0.3s ease;
  width: 100%;
}

.material-form {
  input:not([type="radio"]):not([type="checkbox"]),
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    max-height: 250px;
    min-height: 63px;
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    padding: ($input-space-y + 10px) $input-space-x $input-space-y;
    @extend %input;

    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px $bg-form-color inset !important;
      -webkit-text-fill-color: $color-text-form !important;
    }

    // Placeholder
    @include input-placeholder {
      color: $color-text-form;
    }

    &:not(:placeholder-shown) {
      + span {
        color: $color-focus-default;
        transform: translateY(-11px) scale(0.66);
      }
    }

    &:focus {
      outline: none;

      + span {
        color: $color-focus-default;
        transform: translateY(-11px) scale(0.66);
      }
    }
  }

  .form-group {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
  }

  .txt {
    color: lighten($color-base, 40%);
    cursor: auto;
    font-size: 1em;
    font-weight: 500;
    left: $input-space-x;
    padding-left: 5px;
    pointer-events: none;
    position: absolute;
    top: 19px;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    @include user-select(none);
  }

  .bar {
    background: $color-focus-default;
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 0.4s ease;
    width: 100%;
  }
}

.standard-basic {
  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    background-color: rgba(213, 213, 213, 0.149);
    border-bottom: 1px solid $border-color;

    &:hover {
      border-bottom-width: 2px;
      margin-bottom: -1px;
    }

    &:focus {
      + span {
        + .bar {
          transform: scaleX(1);
        }
      }
    }
  }

  textarea {
    margin-bottom: -6px;

    &:hover {
      margin-bottom: -7px;
    }
  }
}

.outlined-basic {
  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    border: 1px solid $border-color;
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: $color-focus-default;
    }
  }

  .txt {
    top: 0.9em;
    background: $bg-form-color;
  }
}

.translucent-form {
  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    @extend %input;
    border-radius: 4px;
    background-color: rgba(213, 213, 213, 0.149);
    margin-bottom: 1rem;
    padding: $input-space-y $input-space-x;

    @include input-placeholder {
      color: $color-text-form;
    }
  }

  textarea {
    max-height: 200px;
    min-height: 52px;
  }
}

// Para o activeCampaign
._field-wrapper {
  position: relative;
}

._error ._error-inner {
  font-size: 12px;
  color: #e42b2b;
  margin-bottom: -15px;
  margin-left: 17px;
}
