$bg-form-color: $bg-base; // Background
$color-text-form: $color-base; // Cor do texto 
$color-focus-default: $color-default; // Cor destaque

// Espaçamento
$input-space-y: 12px;
$input-space-x: 13px;

%input {
  background: none;
  border: 0;
  color: $color-text-form;
  font-size: 1em;
  padding: $input-space-y $input-space-x;
  transition: all .3s ease;
  width: 100%;
}

.material-form {

  input:not([type=radio]):not([type=checkbox]),
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    max-height: 200px;
    min-height: 52px;
  }

  input:not([type=radio]):not([type=checkbox]),
  select,
  textarea {
    @extend %input;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px $bg-form-color inset;
    }

    &:hover {
      transition: all .3s;
    }

    &:not(:placeholder-shown) {
      +span {
        color: $color-focus-default;
        transform: translateY(-26px) scale(.78);
      }
    }

    &:focus {
      // background: none;
      outline: none;

      +span {
        color: $color-focus-default;
        transform: translateY(-26px) scale(.78);
      }
    }
  }

  .form-group {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .txt {
    color: lighten($color-base, 40%);
    cursor: auto;
    font-size: 1em;
    font-weight: 500;
    left: $input-space-x;
    position: absolute;
    top: 16px;
    transform-origin: 0 0;
    transition: all .2s ease;
    padding-left: 5px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: $color-focus-default;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all .4s ease;
  }
}

.standard-basic {

  input:not([type=radio]):not([type=checkbox]),
  select,
  textarea {
    background-color: rgba(213, 213, 213, 0.149);
    border-bottom: 1px solid $border-color;

    &:hover {
      border-bottom-width: 2px;
      margin-bottom: -1px;
    }

    &:focus {
      +span {
        +.bar {
          transform: scaleX(1);
        }
      }
    }
  }

  textarea {
    margin-bottom: -6px;

    &:hover {
      margin-bottom: -7px;
    }
  }
}

.outlined-basic {

  input:not([type=radio]):not([type=checkbox]),
  select,
  textarea {
    border: 1px solid $border-color;
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: $color-focus-default;
    }

    &:not(:placeholder-shown),
    &:focus {
      +span {
        transform: translate(0, -26px) scale(0.75);
      }
    }
  }

  .txt {
    top: .9em;
    background: $bg-form-color;
  }
}

.translucent-form {

  input:not([type=radio]):not([type=checkbox]),
  select,
  textarea {
    @extend %input;
    border-radius: 4px;
    background-color: rgba(213,213,213,0.149);
    margin-bottom: 1rem;
  }

  textarea {
    max-height: 200px;
    min-height: 52px;
  }
}

// Para o activeCampaign
._field-wrapper {
  position: relative;
}

._error ._error-inner {
  font-size: 12px;
  color: #e42b2b;
  margin-bottom: -15px;
  margin-left: 17px;
}
