.social-list {

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 8px;
    }

    a {
      align-items: center;
      border-radius: 100%;
      border: 1px solid lighten($color-dark, 10%);
      color: $color-light;
      display: flex;
      height: 40px;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      width: 40px;
      @extend %transition;

      &:hover {
        background: lighten($color-dark, 10%);
        transform: translateY(-5px);
      }
    }
  }
}
