<header class="fixed-header expand-xl">
	<div class="wrap">
		<div class="img-brand">
			<a href="<?php bloginfo('url') ?>" title="<?php bloginfo('name') ?>">
				<img src="<?= THEMEROOT ?>/assets/img/logo.png" alt="Logo <?php bloginfo('name') ?>">
			</a>
		</div>

		<button type="button" class="btn-menu drawerButton" aria-label="Navigation button"><i class="far fa-bars"></i></button>

		<nav class="nav-list">
			<ul class="header-menu">
				<li><span>item</span></li>
				<li><span>item</span></li>
				<li><span>item</span></li>
				<li><span>item</span></li>
			</ul>
		</nav>

		<?php get_search_form(); ?>
	</div>
</header>