$margin-y-header: 5px;

.fixed-header {
  align-items: center;
  background: -webkit-linear-gradient(to top, transparent, rgba(#000, 0.4));
  background: -moz-linear-gradient(to top, transparent, rgba(#000, 0.4));
  background: -o-linear-gradient(to top, transparent, rgba(#000, 0.4));
  background: linear-gradient(to top, transparent, rgba(#000, 0.4));
  height: auto;
  left: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @extend %transition;

  .wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    align-items: center;
  }

  &.new-bg {
    background: rgba(12, 12, 12, 0.7);
    box-shadow: 0 4px 15px rgba(#000, 0.25);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    .img-brand {
      img {
        height: 50px;
      }
    }

    .btn-menu {
      background-color: rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: rgba(191, 191, 191, 0.075);
      }
    }
  }

  .img-brand {
    display: inline-block;
    margin: $margin-y-header 0;

    img {
      height: 60px;
      @extend %transition;
    }
  }

  .btn-menu {
    align-items: center;
    background-color: rgba(53, 53, 53, 0.271);
    border-radius: 50%;
    border: none;
    color: $white;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: $margin-y-header 0;
    outline: none;
    text-decoration: none;
    width: 45px;

    &:hover {
      background-color: rgba(28, 27, 27, 0.15);
    }
  }

  .nav-list {
    display: none;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          color: $white;
          display: block;
          padding: 10px;
          font-size: 15px;
          text-decoration: none;
        }
      }
    }
  }
}

@each $prefix, $breakpoint in $grid-breakpoints {
  .expand-#{$prefix} {
    @include media($breakpoint) {
      .btn-menu {
        display: none;
      }

      .nav-list {
        display: block;
      }
    }
  }
}
