<div id="swipe-area" data-swipe-threshold="20" data-swipe-timeout="500" data-swipe-ignore="false"></div>
<nav class="drawer-mobile" id="drawer">
	<span class="close-menu" aria-label="Fechar">
		<i class="fal fa-times"></i>
	</span>
	<div class="wrap backdrop-filter">
		<div class="wrapper-form">
			<?php get_search_form(); ?>
			<a class="searchfield_cancel">cancelar</a>
		</div>

		<div class="img-brand">
			<a href="<?php bloginfo('url') ?>" title="<?php bloginfo('name') ?>">
				<img src="" alt="Logo <?php bloginfo('name') ?>">
			</a>
		</div>

		<ul class="header-menu">
			<li><a href="#">Início</a></li>
			<li><a href="">Exemplo submenu <i class="fal fa-arrow-down"></i></a>
				<ul class="children">
					<li><a href="javascript:void(0);">item 1</a></li>
					<li><a href="javascript:void(0);">item 2</a></li>
					<li><a href="javascript:void(0);">item 3</a></li>
					<li><a href="javascript:void(0);">item 4</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>