<div id="swipe-area" data-swipe-threshold="20" data-swipe-timeout="500" data-swipe-ignore="false"></div>
<nav class="drawer-mobile" id="drawer">
	<span class="close-menu" aria-label="Fechar">
		<i class="fal fa-times"></i>
	</span>
	<div class="wrap">
		<ul>
			<li><a href="#">Início</a></li>
			<li><a href="">Exemplo submenu <i class="fal fa-arrow-down"></i></a>
				<ul class="submenu">
					<li><a href="javascript:void(0);">item 1</a></li>
					<li><a href="javascript:void(0);">item 2</a></li>
					<li><a href="javascript:void(0);">item 3</a></li>
					<li><a href="javascript:void(0);">item 4</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
