.drawer {
  transition: 0.4s all ease-in;

  &:not([data-drawer-direction="right"]) {
    left: -100%;
  }

  &[data-drawer-direction="right"] {
    right: -100%;
  }

  &.drawerOpen {
    &:not([data-drawer-direction="right"]) {
      left: 0;
    }

    &[data-drawer-direction="right"] {
      right: 0;
    }
  }

  .close-menu {
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 13px;
    transform: translateX(8px);
    transition: 0.5s all;
    z-index: 1;

    &:hover {
      transition: 0.5s all;
    }

    &.open {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.drawer-wrapper {
  --drawer-spacing-x: 15px;
  --drawer-spacing-y: 12px;
  background: var(--color-fill-sidebar);
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1002;
  width: 100%;
  box-shadow: 8px 0px 15px 0px rgba(58, 57, 57, 0.231);

  @include media(lg) {
    box-shadow: 0 5px 34px #00000024;
    height: 100%;
  }

  @include media(md) {
    max-width: 325px;
  }

  .wrapper {
    height: 100%;
    padding: 1.8em 1.4em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .sidebar-links {
    height: 100%;
    overflow-y: auto;

    > .active {
      position: relative;
      background-color: #e8eaef61;
      border-radius: 8px;

      a {
        color: #000;

        i {
          color: #000;
        }
      }
    }

    .divider {
      display: block;
      height: 1px;
      background: var(--color-fill-sidebar-border-color);
      margin: 1rem 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sub-menu {
    display: none;
    margin-left: 15px;
  }

  a {
    align-items: center;
    background: transparent;
    border-radius: 8px;
    justify-content: space-between;
    border: none;
    color: var(--color-sidebar);
    display: flex;
    flex-direction: row;
    font-weight: 400;
    margin-top: 5px;
    padding: 0.7em;
    text-align: left;
    text-decoration: none;
    user-select: none;
    width: 100%;

    &:hover {
      background: #1b1b1d10;
    }

    i {
      color: var(--color-theme);
      transition: 0.4s all;
      font-size: 1.2rem;

      + span {
        width: calc(100% - 36px);
        font-size: 14px;
      }
    }
  }
}

.sidebar-footer {
  border-top: 1px solid var(--color-fill-sidebar-border-color);
  padding-top: 10px;
  margin-top: auto;
}

.backdrop-layer {
  display: none;
  @include pseudo(1001, fixed);
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s all ease-in-out;
}
