// @import "../../../../wp-starter-theme/assets/plugins/bootstrap/sass/functions";
// @import "../../../../wp-starter-theme/assets/plugins/bootstrap/sass/variables";
// @import 'variables';

/**
  Switch dark mode
*/
.color-scheme-toggle {
  --toggle-border-radius-outer: 12px;
  --toggle-border-radius-inner: 10px;
  --toggle-color-fill: var(--color-button-background);
  --toggle-color-text: var(--color-theme);
  border-radius: var(--toggle-border-radius-outer);
  border: 1px solid var(--toggle-color-fill);
  display: inline-flex;
  font-size: 0.70588rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.33337;
  padding: 1px;

  input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0 0 99.9% 99.9%);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked + .text {
      --toggle-color-text: var(--color-button-text);
      background: var(--toggle-color-fill);
      border-color: var(--toggle-color-fill);
    }

    &:focus {
      outline: 4px solid var(--color-focus-color);
      outline-offset: 1px;
    }
  }

  .text {
    border: 1px solid transparent;
    border-radius: var(--toggle-border-radius-inner);
    color: var(--toggle-color-text);
    display: inline-block;
    text-align: center;
    padding: 1px 6px;
    min-width: 42px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen {
  [data-color-scheme="dark"] .color-scheme-toggle {
    --toggle-color-text: var(--color-theme);
  }
}

@media screen and (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] .color-scheme-toggle {
    --toggle-color-text: var(--color-theme);
  }
}

/**
  *
  * Por padrão, a sequência de escrita do estilo deve ser:
  * classes CSS normal, [data-color-scheme="dark"] e prefers-color-scheme
  *
  */
body {
  color-scheme: light dark;
}

body[data-color-scheme="light"] {
  color-scheme: light;
}

body[data-color-scheme="dark"] {
  color-scheme: dark;
}


/**
 *
 * Modo dark
 *
 * Tanto para color-scheme dark e auto, as variáveis
 * possuem o mesmos valores.
 *
 */

@media screen {
  body[data-color-scheme="dark"] {
    // Cores base
    --color-fill: #{$black};
    --color-fill-secondary: #747474;
    --color-fill-tertiary: #2d2d2d;
    --color-fill-fourth: #1d1d1f;    
    --color-theme: #{lighten($color-default, 18%)};
    --color-theme-ligthen: #{lighten(saturate($color-default, 3%), 25%)};
    --color-theme-darken: #{darken($color-default, 8%)};
    // Bordas
    --color-border-color: #404040;
    // Texto
    --color-txt: #ccc;
    --color-txt-contrast: #8f9197;
    // Titulo
    --color-headline: #{$white};
    // Botão
    --color-button-background: var(--color-theme);
    --color-button-text: #{$white};
    --color-button-background-hover: var(--color-theme-ligthen);
    --color-button-text-hover: #{$white};
    // Input
    --color-input-txt: var(--color-txt);
    --color-input-border-color: #3b3b3b;
    // Navigation
    --color-nav-fill: var(--color-fill-fourth);
    // Sidebar
    --color-fill-sidebar: #0d0e10;
    --color-fill-sidebar-border-color: var(--color-fill-sidebar);
    --color-fill-sidebar-input: var(--color-fill-fourth);
    // Footer
    --color-fill-footer: var(--color-fill-fourth);
  }
}

/* mode auto */
@media screen and (prefers-color-scheme: dark) {
  body[data-color-scheme="auto"] {
    // Cores base
    --color-fill: #{$black};
    --color-fill-secondary: #747474;
    --color-fill-tertiary: #2d2d2d;
    --color-fill-fourth: #1d1d1f;    
    --color-theme: #{lighten($color-default, 18%)};
    --color-theme-ligthen: #{lighten(saturate($color-default, 3%), 25%)};
    --color-theme-darken: #{darken($color-default, 8%)};
    // Bordas
    --color-border-color: #404040;
    // Texto
    --color-txt: #ccc;
    --color-txt-contrast: #8f9197;
    // Titulo
    --color-headline: #{$white};
    // Botão
    --color-button-background: var(--color-theme);
    --color-button-text: #{$white};
    --color-button-background-hover: var(--color-theme-ligthen);
    --color-button-text-hover: #{$white};
    // Input
    --color-input-txt: var(--color-txt);
    --color-input-border-color: #3b3b3b;
    // Navigation
    --color-nav-fill: var(--color-fill-fourth);
    // Sidebar
    --color-fill-sidebar: #0d0e10;
    --color-fill-sidebar-border-color: var(--color-fill-sidebar);
    --color-fill-sidebar-input: var(--color-fill-fourth);
    // Footer
    --color-fill-footer: var(--color-fill-fourth);
  }
}
